.student {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 70px 100px;
}

.student__title {
  width: 100%;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  margin-bottom: 66px;
}

.student__profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student__photo {
  width: 270px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.student__about {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: space-between;
}

.student__card {
  margin: 0;
  padding: 0;
}

.student__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.student__subtitle {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 18px 0 26px;
  padding: 0;
}

.student__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.student__github {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: auto;
  color: #000;
  transition: all 0.4s ease;
}

.student__github:hover {
  opacity: 0.8;
  font-size: 13px;
}

@media (min-width: 740px) and (max-width: 1100px) {
  .student {
    padding: 90px 50px;
  }

  .student__photo {
    width: 255px;
  }

  .student__about {
    max-width: 364px;
  }

  .student__card {
    margin: 0;
    padding: 0;
  }

  .student__name {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 16px 0;
  }

  .student__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 20px;
  }

  .student__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 739px) {
  .student {
    padding: 70px 14px;
  }

  .student__title {
    font-size: 18px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .student__profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 30px;
    align-items: center;
  }

  .student__photo {
    width: 100%;
    max-width: 292px;
    min-height: 352px;
    order: 1;
  }

  .student__about {
    order: 2;
    gap: 30px;
  }

  .student__card {
    margin: 0;
    padding: 0;
  }

  .student__name {
    font-size: 30px;
    line-height: auto;
    margin: 0;
  }

  .student__subtitle {
    font-size: 11px;
    line-height: 16px;
    margin: 10px 0 20px;
  }

  .student__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: -23px;
  }

  .student__github:hover {
    font-size: 14px;
    opacity: 0.5;
  }
}
