.page {
  width: 100%;
  background-color: #aeaeae;
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.body {
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex: 1;
}

@media (max-width: 530px) {
  .wrapper {
    max-width: 260px;
  }
}
